Assignment 01

Task 1: Variables and Data Types
a) Create three variables: one for storing your age (integer), one for your name (string), and one to
check if you are a student (Boolean). Print the variables.

In [2]:
Age = 24
Name = "Hina"
Student = True

In [17]:
print("Age",Age)
print("Name",Name)
print("Student",Student)

Age 24
Name Hina
Student True

In [18]:
print(type(Age))
print(type(Name))
print(type(Student))

<class 'int'>
<class 'str'>
<class 'bool'>

b) Perform the following operations and print the results:
- Add 25 to your age variable.
- Concatenate your name with the string "Smith."
- Negate the Boolean variable (if True, make it False, and vice versa).

In [26]:
Age
Age + 25
Age

Age = Age + 25
Age

# other way
Age = 24
Age += 25
Age

49

In [31]:
# - Concatenate your name with the string "Smith."
Name
Full_name = Name + " " + "Smith"
Full_name

'Hina Smith'

In [44]:
# - Negate the Boolean variable (if True, make it False, and vice versa).
Student
not Student

Student = not Student

False

Task 2: Expressions and Operators
a) A rectangle has a width of 5.5 units and a height of 3.25 units. Store width and height in variables.
Create a new variable called area and write an expression to calculate the area. Print the area in the
output.

In [50]:
Width = 5.5
Height = 3.25

Area = Width * Height

print("The Area of the rectangle is",Area)

The Area of the rectangle is 17.875

b) Create a temperature variable in Celsius. Convert it to Fahrenheit using the formula: F = (C * 9/5) +
32. Store this temperature in a variable called Fahrenheit and print this variable.

In [53]:
Temp_celsius = 100
Temp_fahrenheit = (Temp_celsius * 9/5) + 32
print("Temperature in Fahrenheit",Temp_fahrenheit)

Temperature in Fahrenheit 212.0

c) Create a variable called radius and give it a value of 5. Calculate the area of a circle with this radius
and store it in a variable called area. Print area at the end of your code. (Use the formula: area = π *
radius^2, where π (pi) is approximately 3.14159).

In [59]:
Radius = 5
Area = 3.14159 * Radius**2
print("Area of Circle", Area)

Area of Circle 78.53975

ask 3: Introduction to Data Structures
a) Create a list called "fruits" containing the following fruits: "apple," "banana," "orange," "grape,"
and "kiwi." Print the list.

In [62]:
Fruits= ["apple,","banana,","orange,","grape,","kiwi"]
print(Fruits)
print(type(Fruits))

['apple,', 'banana,', 'orange,', 'grape,', 'kiwi']
<class 'list'>

b) Create a tuple named "months" with the names of the first three months of the year. Print the
tuple.

In [64]:
months = ("January","February","March") 
print(type(months))

<class 'tuple'>

ask 4: List Manipulation
a) Given the list of numbers below, write a Python program to calculate the sum and average of these
numbers. Print both results.
numbers = [12, 34, 45, 67, 89, 100, 23, 56]

In [68]:
numbers = [12, 34, 45, 67, 89, 100, 23, 56]
sum_numbers = sum(numbers)

average = sum_numbers / len(numbers)

print("Sum of the numbers", sum_numbers)
print("Average of the numbers", average)

Sum of the numbers 426
Average of the numbers 53.25

b) Remove the first and last elements from the "fruits" list created earlier. Print the updated list.

In [85]:
Fruits= ["apple,","banana,","orange,","grape,","kiwi"]
Fruits

['apple,', 'banana,', 'orange,', 'grape,', 'kiwi']

In [86]:
Fruits.pop(0)

'apple,'

In [87]:
Fruits

['banana,', 'orange,', 'grape,', 'kiwi']

In [88]:
Fruits.pop(3)

'kiwi'

In [91]:
Fruits
print("Updated list", Fruits)

Updated list ['banana,', 'orange,', 'grape,']